graph {
    padding: 50px;
}

edge {
    shape: freeplane;
}

node {
    shape: freeplane;
    fill-color: red;
    text-offset: 3px, -3px;
    size-mode: fit;
    stroke-mode: plain;
}

node.mainBranch {
    fill-color: green;
}