.tab .tab-label {
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 16px;
}
.tab {
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

